@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@100&family=Roboto+Slab&display=swap');


*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}



:root{
    --primary-text-color:#5F2DED;
    --secondary-text-color:#AA90F6,
}


body{
    font-family:'Poopins',sans-serif;
  
}

h2{
 font-size: 44px;
 font-weight: 800;
 color:var(--primary-text-color);
}

h3{
    font-size: 40px;
    font-weight: 700;
    color:var(--primary-text-color);
}
h4{
  font-size: 18px;  
  font-weight: 700;
}

nav{
    position: sticky;
    top: 0;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 93px;
    }

p{
    font-size: 16px;
    font-weight: 500;
}

input{
    
    height:64px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #121212;
    font-size: 30px;
    padding: 10px;
   
}

input::placeholder{
  
    font-size: 14px;
    font-weight: 400;
    
    
}

label{
   font-size: 20px;
   font-weight: 700;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 93px;
   
    padding-left: 31px;

}
.slo-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slo-btn{
    height: 49px;
    width: 130px;
    background-color: var(--primary-text-color);
    color: #FFFFFF;
    font-size:24px;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius:18px;
}

section{
    display: flex;

}

.line-or{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-hr{
    width: 40%;
    color: #D9D5D5;

}
input[type="checkbox"]{
   height:18px;
   width: 18px;
}

.btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}


.checkbox{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top:11px ;
}

.required{
    color: red;
}


/* Navigation Navbar */


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 66px;
}
.home-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.home-nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;

}
a{
    text-decoration: none;
    color: #121212;
}


.active{
   color: var(--primary-text-color); 
   text-decoration: underline;
   
}
.nav{
  
    width: 100vw;
}
.home-nav{
    position: fixed;
    right: 40px;
}


@media (max-width: 570px) {
   
    .company-logo img {
        height: 40px; 
    }
    .main-nav{
       
        width: 420px;
        gap: 20px;
    }

    .container h2 {
        font-size: 25px;
    }
    .Home-container-welcome {
        margin-left: 0;
        text-align: center;
      }
}





@media (max-width: 770px) {
    .home-nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #fff; 
      width: 100%;
    }
  
    .home-nav.active ul {
      display: flex;
    }
  
    .home-nav img {
      display: none;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      position: fixed;
      top: 20px;
      right: 10px;
      
    }
  
    .bar {
      width: 25px;
      height: 3px;
      background-color: var(--primary-text-color);
      margin: 5px 0;
      transition: 0.4s;
    }
  
    .home-nav.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .home-nav.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .home-nav.active .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .nav {
      justify-content: space-between;
      align-items: center;
    }
  
    
    
  }
  
  @media (max-width: 1221px) {
    .Home-container {
        flex-direction: column;
        align-items: center;
      }
    
      .Home-container img {
        margin-bottom: 20px;
      }


  }



  
.menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: var(--primary-text-color);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.30s ease; 
  }
  
  .menu a {
    display: block;
    color: white;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
