:root{
    --primary-text-color:#5F2DED;
    --secondary-text-color:,
}

span{
    color: var(--primary-text-color);
}
.forgetPass-section{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 89px;
}
.forgetPass-img{
    margin-left: 85px;
}

.forgetPass-form-container h3{
    margin-bottom: 20px;
}
.forgetPass-form-container form{
     display: flex;
     flex-direction: column;
     margin-right: 129px;
     gap: 15px;
     
}